[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fakeredis = "*"
pytest = "*"
coverage = "*"
flake8 = "*"

[packages]
kyasshu = {editable = true,path = "./../core"}
redis = "*"
flake8-quotes = "*"

[scripts]
test = "python -m pytest -v"
coverage = "bash ./scripts/coverage.sh"
lint = "python -m flake8"
